body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
  color:white
} */


form div {
  margin: 1em;
  display: inline-block;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}



