body {
  font-family: sans-serif;
}

a {
  text-decoration: none;

}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
  color:white
} */


form div {
  margin: 1em;
  display: inline-block;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}


.bar{
  height: 3px;
  width: 100%;
  background-color: yellow;
  border-radius: 10px;
}

.navbar-brand{
  font-family: 'Baloo Bhaijaan 2', cursive;

  font-size:24px;
}
.nav-link{
  font-family: 'Raleway', sans-serif;


}

.card-body p {
  font-family: 'Raleway', sans-serif;
}

.card-body h5 {
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;

}
