body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
  color:white
} */


form div {
  margin: 1em;
  display: inline-block;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* .navHeader{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 30px;
} */

.books{

  margin-top: 15px;
  margin-right : 25px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-start;


}

/* img {
  width: 250px;
  height: 200px;

} */
